@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #ffa8a8 10%, #fcff00 100%);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}
